/* Estilos Generales */
/*
*{
    outline: dotted 1px red;
}
*/
body{
    font-family: Helvetica, Arial, Open Sans, sans-serif;
    font-size: 14px;
    color: #333;
    margin:0;
}
a{
    text-decoration: none;
    color: #FFF;
}
/* Estilos Particulares */
header{
        background-color: #333;
        overflow: hidden;
        padding: 15px;
}
header h1{
    color: #FFF;
    float:left;
    font-size: 28px;
    font-weight: 700;  /* Estandar de negrita */
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 75px;
    
}
header nav{
    float: right;
    padding: 10px;
}
header nav ul{
        margin: 0;
        padding: 0;
        list-style: none;
}
header nav ul li {
    display: inline-block;
}
header nav a {
    text-align: center;
    padding: 5px;
}
header nav a:hover{
    color: #333;
    background-color:#FFF;
}
/*
.main_picture{
    padding-top: 1px;
    width: 100%;
}
.main_text{
    color:#FFF;
    background-color:#333;
    font-weight: 700;
    font-size: 48px;
    padding: 10px;
}
*/
#noticias-destacadas img {
    padding-top: 1px;
    width: 100%;
}

#noticias-destacadas h2 {
    color:#FFF;
    background-color:#333;
    font-weight: 700;
    font-size: 48px;
    padding: 15px 10px 10px 20px;
}

.noticia1 {
    display: inline-block;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

.noticia1 img {
margin-left: 50px;
margin-top: 20px;
margin-right: 200px;
float: left;
width: 30%;
}
.contenedor{
    position: absolute;
    top: 5px;
    left: 450px;
    float: right;
    width: 800px;
    height: 168px;
}

.contenedor-superior{
    font-weight: 700;
    font-size: 30px;
    text-align: right center;
}

.contenedor-inferior{
    font-size: 17px;
    text-align: left;
}